body {
    background-color: rgb(149, 204, 238);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 14vw;
    letter-spacing: -2px;
}

h2 {
    font-family: 'barlow', sans-serif;
    color: rgb(246, 234, 183);
    font-size: 8vw;
    letter-spacing: 10px;
}